<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyPetShop.DAL.Properties.Settings.MyPetShopConnectionString"
            connectionString="Data Source=SUN\SQLEXPRESS;Initial Catalog=MyPetShop;User ID=sa;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>